In [2]:
import pandas as pd

In [3]:
stats = pd.read_csv('Full_NFL_Stats_2022.csv')

In [4]:
stats.head()

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
0,0,Falcons,Fumbles,The number of times a player/team has fumbled ...,FUM,21.0,1.0,13.0
1,1,Falcons,Fumbles Lost,The number of times a fumble is recovered by t...,LST,12.0,NaN,4.0
2,2,Falcons,Forced Fumbles,The total number of forced fumbles.,FF,8.0,NaN,62.0
3,3,Falcons,Fumbles Recovered,The number of fumbles recovered.,FR,7.0,NaN,23.0
4,4,Falcons,Fumbles Touchdowns,The number of times a fumbles is recovered and...,FTD,1.0,NaN,8.0

In [5]:
stats.groupby('teamName')

In [6]:
stats.sort_values('rank',ascending=True)

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
5242,27,Jets,Team Games Played,The amount of games played.,TGP,17.000000,NaN,1.0
7100,15,Seahawks,One Point Safeties Made,One Point Safeties Made,OPSM,0.000000,NaN,1.0
4568,1,Patriots,Defensive Fumble Return Yards,The amount of total yardage from fumble returns.,DFRYDS,0.000000,NaN,1.0
4567,0,Patriots,Defensive Fumbles Returns,The number of fumble returns.,DFR,0.000000,NaN,1.0
4563,39,Patriots,Team Games Played,The numbers of team games played.,GP,17.000000,NaN,1.0
...,...,...,...,...,...,...,...,...
6352,41,Chargers,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,6.112000,6.255814,NaN
7174,41,Buccaneers,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,5.932730,5.977778,NaN
7448,41,Commanders,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,5.767442,6.000000,NaN
7722,41,Panthers,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,6.077079,6.285714,NaN
7996,41,Jaguars,Net Yards Per Pass Attempt,The average number net yards (taking sack yard...,NYDS/PA,6.344551,6.444444,NaN

In [7]:
stats.dropna(subset='rank',inplace=True)

In [8]:
stats.sort_values('rank',ascending=True)

,Unnamed: 0,teamName,displayName,description,abbreviation,value,perGameValue,rank
5242,27,Jets,Team Games Played,The amount of games played.,TGP,17.000000,NaN,1.0
7100,15,Seahawks,One Point Safeties Made,One Point Safeties Made,OPSM,0.000000,NaN,1.0
4568,1,Patriots,Defensive Fumble Return Yards,The amount of total yardage from fumble returns.,DFRYDS,0.000000,NaN,1.0
4567,0,Patriots,Defensive Fumbles Returns,The number of fumble returns.,DFR,0.000000,NaN,1.0
4563,39,Patriots,Team Games Played,The numbers of team games played.,GP,17.000000,NaN,1.0
...,...,...,...,...,...,...,...,...
6353,42,Chargers,Quarterback Rating,Quarterback Rating.,RAT,93.334990,90.188423,102.0
7175,42,Buccaneers,Quarterback Rating,Quarterback Rating.,RAT,89.777500,85.675766,106.0
7156,23,Buccaneers,Passer Rating,Passer Rating,RTG,89.777500,85.675766,106.0
4964,23,Giants,Passer Rating,Passer Rating,RTG,91.111664,92.513611,114.0
4983,42,Giants,Quarterback Rating,Quarterback Rating.,RAT,91.111664,92.513611,114.0

In [9]:
stats.drop(columns=['perGameValue', 'Unnamed: 0'],axis=1, inplace=True)

In [10]:
rows = stats.loc[stats['rank'] > 32]
print(rows)

     teamName            displayName                           description  \
2     Falcons         Forced Fumbles   The total number of forced fumbles.
32    Falcons          Passer Rating                         Passer Rating
35    Falcons   Net Passing Attempts                 Net Passing Attempts.
37    Falcons  Total Offensive Plays  The number of total offensive plays.
51    Falcons     Quarterback Rating                   Quarterback Rating.
...       ...                    ...                                   ...
8271   Ravens     Quarterback Rating                   Quarterback Rating.
8331   Ravens         Assist Tackles     The number of assists on tackles.
8353   Ravens          Total Tackles          The total number of tackles.
8526   Texans          Passer Rating                         Passer Rating
8545   Texans     Quarterback Rating                   Quarterback Rating.

     abbreviation        value  rank
2              FF     8.000000  62.0
32            RTG    87.693340  79.0
35           NATT   452.000000  52.0
37            TOP  1011.000000  53.0
51            RAT    87.693340  79.0
...           ...          ...   ...
8271          RAT    82.526665  79.0
8331          AST   380.000000  51.0
8353          TOT  1147.000000  78.0
8526          RTG    76.791664  79.0
8545          RAT    76.791664  79.0

[150 rows x 6 columns]

In [28]:
interceptions = stats.loc[stats['displayName'] == 'Interception Percentage']
interceptions = interceptions.sort_values(by='rank')

In [29]:
completion = stats.loc[stats['displayName'] == 'Completion Percentage']
completion = completion.sort_values(by='rank')

In [30]:
pass_rating = stats.loc[stats['displayName'] == 'Passer Rating']
pass_rating = pass_rating.sort_values(by='value',ascending=False)

In [31]:
touchdowns = stats.loc[stats['abbreviation'] == 'TD%']
touchdowns = touchdowns.drop('rank',axis=1)
touchdowns = touchdowns.sort_values(by='value',ascending=False)

In [32]:
pass_yard = stats.loc[stats['displayName'] == 'Passing Yards Per Game']
pass_yard = pass_rating.sort_values(by='rank',ascending=True)

In [39]:
bottom_qb = []

for df in [interceptions, completion, pass_rating, touchdowns, pass_yard]:

    bottom_names = list(df['teamName'].tail(16))

    bottom_qb += bottom_names

name_counts = {name: bottom_qb.count(name) for name in set(bottom_qb)}

final_names = [name for name in name_counts.keys() if name_counts[name] == 5]

print(final_names)

['Panthers', 'Texans', 'Steelers', 'Broncos', 'Ravens']